.App {
  text-align: center;
}

.alphabet-board {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  justify-content: space-evenly;
}

.disabled {
  pointer-events: none;
  color: #b9b3b3;
}

.letter-active {
  margin: 5px;
}

.letter-disabled {
  margin: 5px;
  text-decoration: underline;
}

.correct-word {
  display: flex;
  justify-content: center;
}

.underline {
  border-bottom: 1px solid #000000;
  margin: auto 5px;
  width: 5%;
}

p.letter-invisible {
  visibility: hidden;
}





